<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

    <li class="nav-item">
        <a asp-controller="Home" asp-action="Dashboard" class="nav-link @Html.ActiveClass(MenuItems.RootMenuItems, "Home")">
            <i class="far fa-dot-circle nav-icon"></i>
            <p>Dashboard</p>
        </a>
    </li>

    <li class="nav-item @Html.MenuOpen(MenuItems.Catalogs)">

        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
                Katalog
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Category" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "Category")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Product" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "Product")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="FeatureSlider" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "FeatureSlider")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Öne Çıkan Slider Listesi</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="SpecialOffer" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "SpecialOffer")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Özel Teklifler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Feature" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "Feature")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Özellikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="OfferDiscount" asp-action="List" class="nav-link @Html.ActiveClass(MenuItems.Catalogs, "OfferDiscount")">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>İndirim Teklifleri</p>
                </a>
            </li>
        </ul>
    </li>

</ul>
